@font-face {
    font-family: 'calculator-font';
    src: url('Digital-7.woff2') format('woff2'),
        url('Digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    text-align: center;
    font-family: 'calculator-font';
    background-color: #0edaff;
}

.buttons {
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    width: 500px;
    height: 600px;
    margin: auto;
}

.screen {
    width: 496px;
    height: 95px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'calculator-font';
    font-size: 60px;
    background-color: black;
    color: #be17fd;
    overflow: hidden;
    font-size: 5.2vmin;

}

button {
    font-family: inherit;
    font-size: 40px;
    background-color: black;
    color: #0edaff;
    border: 2px solid #0edaff;
}

.enter,
.clear,
.negative,
.decimal,
.divide,
.multiply,
.minus,
.plus {
    color: #be17fd
}

.enter {
    grid-column: span 3;

}

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.info {
    font-family:'Times New Roman', Times, serif;
}
